



<!--<div class="col-xs-5">-->
  <!--<div data-ng-controller="quickInfo" class="panel panel-default">-->
    <!--<div class="panel-heading">Quick Info</div>-->
    <!--<div ng-hide="!selectedStore.isCommander">-->
      <!--<div><img height=20 width=20 ng-src="{{selectedStore.pingStatus.img}}" /> {{selectedStore.pingStatus.lastTime | date:"HH:mm:ss"}}</div>-->
      <!--<a target="_blank" href="https://{{selectedStore.posIP}}/ConfigClient.html">Config Client</a>-->
      <!--<a target="_blank" href="https://{{selectedStore.posIP}}">Journal Browser</a>-->

    <!--</div>-->
  <!--</div>-->
<!--</div>-->
